<div class="container">
  <!-- CREER UN POSTE -->
  <div class="mb-5 mt-5">
    <textarea
      [(ngModel)]="post"
      name="postI"
      class="form-control mb-1"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea
    ><button class="btn btn-primary w-100">Poster</button>
  </div>
  <!-- SEPARATOR -->
  <div class="row">
    <div class="col"><hr /></div>
    <div class="col-auto">Tout les postes</div>
    <div class="col"><hr /></div>
  </div>
  <!-- POSTS LIST -->
  <div *ngFor="let post of postList" class="card mb-3">
    <h5 class="card-title">{{ post.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
    <div class="card-body">{{ post.content }}</div>
  </div>
</div>
